.login {
    @include span(8 of 12);
    @include pre(2 of 12);
    border: 1px #E9E9E9 solid;
    border-radius: 4px;
    .login-header {
        background: #F9F9F9;
        border-bottom: 1px #E9E9E9 solid;
        text-align: center;
        font-weight: 400;
        h1 {
            padding: 20px 0 10px;
            margin-top: 0px;
        }
    }
    fieldset {
        padding: 10px;
    }
    input {
        @include span(6 of 12);
    }
}
