<p>This is the arbitrators view.</p>
<div class="row center-align">
    <div class="col s12 m6 l6 offset-l3 center-align">
        <div ng-repeat="arbitrator in arbitrators" class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://static.bitrated.com/users/{{arbitrator.username}}-full.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{arbitrator.full_name}}<i class="material-icons right">more_vert</i></span>
                <p><a href="#">{{arbitrator.title}}</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{arbitrator.full_name}}<i class="material-icons right">close</i></span>
                <p>Rating: {{arbitrator.scores.bitrating}}</p>
                <p>Reviews: {{arbitrator.scores.totals.reviews}}</p>
                <p>Vouches: {{arbitrator.scores.totals.vouches}}</p>
                <p>Linked Accounts: {{arbitrator.scores.totals.bitrating}}</p>
            </div>
        </div>
    </div>
</div>
