<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="seller" type="text" class="validate">
                <label for="seller">Seller's Address</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="amount" type="text" class="validate">
                <label for="amount">Amount</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="details" class="materialize-textarea"></textarea>
                <label for="details">Memo</label>
            </div>
        </div>
        <div class="col s12">
            <button class="btn btn-primary" ng-click="sendContract()">Send Contract</button>
        </div>
    </form>
</div>
