<h3 class="header">Login</h3>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12" ng-class="{'has-error': email.valid === false}">
                <input type="email" class="validate" id="email" ng-model="email.value">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12" ng-class="{'has-error': password.valid === false}">
                <input type="password" class="validate" id="password" ng-model="password.value">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12" ng-class="{'has-error': address.valid === false}">
                <input type="text" class="validate" id="address" ng-model="address.value">
                <label for="address">Address</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button type="submit" class="btn btn-default" ng-click="authenticate()">Log in</button>
            </div>
        </div>
    </form>
</div>
